\#*#
*~
.*
*.pyc
*.egg-info

!.gitignore

# Build utilities

# Data
examples/POPDENS/inputs/**
examples/POPDENS/logs

# Packaging
dist/
build/

# Resources

# Debugging
malpolon_rls.err
malpolon_rls.out

# Miscellaneous
